{% extends "../base.html" %}

{% block title %}MyTask{% end %}

{% block body%}
    <div class="container flat_container calendar_container" style="position: relative;">
        <div class="panel calendar">
            <div id="calendar_display_singleton" class="calendar_display calendar_list_visible" >
                <div class="right">
                    <div class="sheet" id='myCalendar'>
                        <header id="calendar_navigation_singleton" class="calendar_navigation" data-autoview="">
                            <button class="toggle_calendar_list hide action_button" >
                                <span class="hide">⇤ Hide calendar list</span>
                            </button>
                            <button class="toggle_calendar_list show action_button" style="display:none">
                                <span class="show">Show a list of calendars ⇥</span>
                            </button>
                            <nav>
                                <button class="action_button prev">
                                    ◀
                                </button>
                                <button class="action_button next">
                                    ▶
                                </button>
                            </nav>
                            <h1 data-behavior="expandable" class="calendar_title">
                                <a href="#" data-behavior="jump_to_month" id="myCalendar_title">
                                    May 2013
                                </a>
                                <div id="calendar_jump_singleton" class="position_reference" style="display: none;" data-autoview="">
                                    <div class="calendar_jump balloon top_left_side">
                                        <span class="arrow"></span>
                                        <span class="arrow"></span>
                                    </div>
                                </div>
                            </h1>
                        </header>
                        <div id="calendar_grid_singleton" class="calendar_grid" data-autoview="">
                        </div>
                    </div>
                </div>

                <div class="left">
                    <aside class="calendar_list">
                        <div id="calendar_list_singleton" class="calendar_list">
                            <section class="calendars">
                                <div class="new_calendar_event">
                                    <a href="javascrtipt:;" class="decorated popover-btn" data-toggle="popover" 
                                        data-content="#tpl-calendar-popover">+ 添加日历</a>
                                </div>
                                <h4>日历</h4>
                                <ul class="have_not_been_shared" id="calendar_list">
                                    {% for calendar in calendars %}
                                    <li class="calendar" id="calendar_451504" data-bucket-type="calendar" data-bucket-id="451504">
                                        <span class="swatch" style="background-color: #{{calendar.color}}">
                                            <a href="javascript:;" class="btn selected" data-toggle="select" data-behavior="toggle_bucket"></a>
                                        </span>
                                        <a href="javascript:;" class="calendar_title" title="Only show this calendar">{{calendar.title}}</a>
                                        <a href="javascript:;" class="popover-btn" data-toggle="popover" data-post="{{calendar.id}}" title="">设置
                                        </a>
<div class="popover direction-right-top calendar_editor calendar_display" style="display: none" >
    <div class="popover-content balloon">
        <form method="post" href="/calendar" class="calendar_editor_form">
            <header>
                <input type="hidden" name="id" data-toggle="remote" value="{{calendar.id}}">
                <fieldset class="calendar_settings">
                    <h3>
                        <textarea name="title" data-behavior="autoresize placeholder submit_on_enter" rows="1" data-type="textarea" 
                            data-placeholder="Name this calendar" class="placeholding" data-autoresize="true" name="title"
                            data-toggle="remote" placeholder="我的日历" style="resize: none; overflow: hidden; min-height: 20px;">
                            {{calendar.title}}
                        </textarea>
                    </h3>
                    <p>选择颜色</p>
                    <div class="swatches" data-toggle="select-radio">
                        <label class="swatch btn {% if calendar.color == "3185c5" %} selected {% end %}" name="color" data-toggle="select" data-content="3185c5" style="background-color: #3185c5"></label>
                        <label class="swatch btn {% if calendar.color == "000099" %} selected {% end %}" name="color" data-toggle="select" data-content="000099" style="background-color: #000099"></label>
                        <label class="swatch btn {% if calendar.color == "3B9E93" %} selected {% end %}" name="color" data-toggle="select" data-content="3B9E93" style="background-color: #3B9E93"></label>
                        <label class="swatch btn {% if calendar.color == "009900" %} selected {% end %}" name="color" data-toggle="select" data-content="009900" style="background-color: #009900"></label>
                        <label class="swatch btn {% if calendar.color == "aa0000" %} selected {% end %}" name="color" data-toggle="select" data-content="aa0000" style="background-color: #aa0000"></label>
                        <label class="swatch btn {% if calendar.color == "ec61a2" %} selected {% end %}" name="color" data-toggle="select" data-content="ec61a2" style="background-color: #ec61a2"></label>
                        <label class="swatch btn {% if calendar.color == "cc6633" %} selected {% end %}" name="color" data-toggle="select" data-content="cc6633" style="background-color: #cc6633"></label>
                        <label class="swatch btn {% if calendar.color == "666666" %} selected {% end %}" name="color" data-toggle="select" data-content="666666" style="background-color: #666666"></label>
                        <label class="swatch btn {% if calendar.color == "000000" %} selected {% end %}" name="color" data-toggle="select" data-content="000000" style="background-color: #000000"></label>
                        <label class="swatch btn {% if calendar.color == "660099" %} selected {% end %}" name="color" data-toggle="select" data-content="660099" style="background-color: #660099"></label>
                        <label class="swatch btn {% if calendar.color == "ff9c00" %} selected {% end %}" name="color" data-toggle="select" data-content="ff9c00" style="background-color: #ff9c00"></label>
                        <label class="swatch btn {% if calendar.color == "e207c1" %} selected {% end %}" name="color" data-toggle="select" data-content="e207c1" style="background-color: #e207c1"></label>
                        <label class="swatch btn {% if calendar.color == "a5460d" %} selected {% end %}" name="color" data-toggle="select" data-content="a5460d" style="background-color: #a5460d"></label>
                        <label class="swatch btn {% if calendar.color == "650606" %} selected {% end %}" name="color" data-toggle="select" data-content="650606" style="background-color: #650606"></label>
                        <label class="swatch btn {% if calendar.color == "482a15" %} selected {% end %}" name="color" data-toggle="select" data-content="482a15" style="background-color: #482a15"></label>
                        <label class="swatch btn {% if calendar.color == "2c5322" %} selected {% end %}" name="color" data-toggle="select" data-content="2c5322" style="background-color: #2c5322"></label>
                        <label class="swatch btn {% if calendar.color == "b3a543" %} selected {% end %}" name="color" data-toggle="select" data-content="b3a543" style="background-color: #b3a543"></label>
                        <label class="swatch btn {% if calendar.color == "46647c" %} selected {% end %}" name="color" data-toggle="select" data-content="46647c" style="background-color: #46647c"></label>
                    </div>
                </fieldset>
            </header>
            <div data-behavior="calendar_accesses">
                <section>
                    <div class="slider" data-behavior="slider">
                        <ul class="slides" style="width: 200%;">
                            <li class="slide" data-slide-index="1" style="width: 220px;">
                                <div class="subscribable change_accesses">
                                    <div class="invitees">
                                        <h4>用户邀请</h4>
                                        <section class="invite">
                                            {% for member in [member for member in team.members if member.id != currentUser.id ]%}
                                            <article class="person btn"  data-content="{{member.id}}" data-toggle="select" name="member">
                                                <div class="avatar">
                                                    <img class="avatar" height="40" src="/avatar/{{ member.avatar }}" title="" width="140">
                                                </div>
                                                <h3>
                                                    <a href="/member/{{ member.id }}">{{ member.name }}</a>
                                                </h3>
                                            </article>
                                            {% end %}
                                        </section>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <footer>
                <p class="submit">
                    <button data-toggle="submit" class="action_button" data-disabled-with="正在修改...">修改</button>
                    or <a href="#" class="cancel" data-behavior="cancel">取消</a>
                </p>
            </footer>
        </form>
    </div>
    <div class="popover-arrow"></div>
</div>
                                    </li>
                                    {% end %}
                                </ul>
                            </section>
                            <section class="calendars">
                                <h4>项目</h4>
                                <ul>
                                    {% for project in projects %}
                                    <li data-bucket-type="project" data-bucket-id="2409861" class="">
                                    <span class="swatch" style="background-color: #{{project.color}}">
                                            <a href="#" class="selected btn" data-toggle="select" ></a>
                                        </span>
                                        <a href="javascript:;" title="Only show this calendar">{{project.title}}</a>
                                        <a href="javascript:;" class="popover-btn" data-toggle="popover" >设置</a>
<div class="popover direction-right-top project_editor calendar_display" style="display: none" >
    <div class="popover-content balloon">
        <form method="post" action="/project/{{project.id}}/color" class="calendar_editor_form">
            <header>
                <fieldset class="calendar_settings">
                    <p>选择颜色</p>
                    <div class="swatches" data-toggle="select-radio">
                        <label class="swatch btn {% if project.color == "3185c5" %} selected {% end %}" name="color" data-toggle="select" data-content="3185c5" style="background-color: #3185c5"></label>
                        <label class="swatch btn {% if project.color == "000099" %} selected {% end %}" name="color" data-toggle="select" data-content="000099" style="background-color: #000099"></label>
                        <label class="swatch btn {% if project.color == "3B9E93" %} selected {% end %}" name="color" data-toggle="select" data-content="3B9E93" style="background-color: #3B9E93"></label>
                        <label class="swatch btn {% if project.color == "009900" %} selected {% end %}" name="color" data-toggle="select" data-content="009900" style="background-color: #009900"></label>
                        <label class="swatch btn {% if project.color == "aa0000" %} selected {% end %}" name="color" data-toggle="select" data-content="aa0000" style="background-color: #aa0000"></label>
                        <label class="swatch btn {% if project.color == "ec61a2" %} selected {% end %}" name="color" data-toggle="select" data-content="ec61a2" style="background-color: #ec61a2"></label>
                        <label class="swatch btn {% if project.color == "cc6633" %} selected {% end %}" name="color" data-toggle="select" data-content="cc6633" style="background-color: #cc6633"></label>
                        <label class="swatch btn {% if project.color == "666666" %} selected {% end %}" name="color" data-toggle="select" data-content="666666" style="background-color: #666666"></label>
                        <label class="swatch btn {% if project.color == "000000" %} selected {% end %}" name="color" data-toggle="select" data-content="000000" style="background-color: #000000"></label>
                        <label class="swatch btn {% if project.color == "660099" %} selected {% end %}" name="color" data-toggle="select" data-content="660099" style="background-color: #660099"></label>
                        <label class="swatch btn {% if project.color == "ff9c00" %} selected {% end %}" name="color" data-toggle="select" data-content="ff9c00" style="background-color: #ff9c00"></label>
                        <label class="swatch btn {% if project.color == "e207c1" %} selected {% end %}" name="color" data-toggle="select" data-content="e207c1" style="background-color: #e207c1"></label>
                        <label class="swatch btn {% if project.color == "a5460d" %} selected {% end %}" name="color" data-toggle="select" data-content="a5460d" style="background-color: #a5460d"></label>
                        <label class="swatch btn {% if project.color == "650606" %} selected {% end %}" name="color" data-toggle="select" data-content="650606" style="background-color: #650606"></label>
                        <label class="swatch btn {% if project.color == "482a15" %} selected {% end %}" name="color" data-toggle="select" data-content="482a15" style="background-color: #482a15"></label>
                        <label class="swatch btn {% if project.color == "2c5322" %} selected {% end %}" name="color" data-toggle="select" data-content="2c5322" style="background-color: #2c5322"></label>
                        <label class="swatch btn {% if project.color == "b3a543" %} selected {% end %}" name="color" data-toggle="select" data-content="b3a543" style="background-color: #b3a543"></label>
                        <label class="swatch btn {% if project.color == "46647c" %} selected {% end %}" name="color" data-toggle="select" data-content="46647c" style="background-color: #46647c"></label>
                    </div>
                </fieldset>
            </header>
            <footer>
                <p class="submit">
                    <button data-toggle="submit" class="action_button" data-disabled-with="正在修改...">修改</button>
                    or <a href="#" class="cancel" data-behavior="cancel">取消</a>
                </p>
            </footer>
        </form>
    </div>
    <div class="popover-arrow"></div>
</div>
                                    </li>
                                    {% end %}
                                </ul>
                            </section>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>

<div class="popover direction-right-top" style="display: none" id="tpl-event-popover">
    <div class="popover-content">
        <form class="calendar_event_editor_form">
            <div class="collapsed_content">
                <header>
                    <fieldset class="event_name">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <textarea name="summary" data-behavior="autoresize placeholder submit_on_enter dirty_tracking" 
                                                rows="1" data-toggle="remote"
                                                data-type="textarea" data-placeholder="Name the event" data-autoresize="true" 
                                                style="resize: none; overflow: hidden;">
                                                新事件
                                            </textarea>
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <fieldset class="event_name">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="time">
                                        <input type="text" value="" data-type="text" data-toggle="remote"
                                            placeholder="在什么时候? (9am, 1pm, etc.)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <fieldset class="event_note">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="description">
                                        <textarea name="description" data-behavior="autoresize placeholder dirty_tracking" rows="1" 
                                            data-type="textarea" data-placeholder="Add an optional note" data-autoresize="true" 
                                            style="resize: none; overflow: hidden; min-height: 21px;" name="note" data-toggle="remote">
                                        </textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </header>
                <section>
                    <div class="slider">
                        <ul class="slides">
                            <li class="slide active">
                                <fieldset class="event_date">
                                    <div class="start_date">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="label">
                                                        <label>日历:</label>
                                                    </td>
                                                    <td>
                                                        <select name="bucket" data-behavior="bucket_selector" data-toggle="remote">
                                                            <optgroup label="Calendars">
                                                                <option value="Calendar:533348" selected="selected">General</option>
                                                                <option value="Calendar:533350">New calendar</option>
                                                            </optgroup>
                                                            <optgroup label="Projects">
                                                                <option value="Project:2969932">Explore Basecamp!</option>
                                                            </optgroup>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">
                                                        <label>开始:</label>
                                                    </td>
                                                    <td class="date" data-behavior="date_entry">
                                                        <input type="text" class="date" readonly="" tabindex="-1" 
                                                            data-toggle="datepick" name="start_time" id="dp1369911710713">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">
                                                        <label>结束:</label>
                                                    </td>
                                                    <td class="date" data-behavior="date_entry">
                                                        <input type="text" class="date hasDatepicker" readonly="" tabindex="-1" 
                                                            data-toggle="datepick" name="end_time" id="dp1369911710714">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset> 
                            </li>
                        </ul>
                    </div>
                </section>
                <footer>
                    <p class="submit">
                        <button data-behavior="confirm" class="action_button green">保存</button>
                        or <a href="javascript:;" class="cancel" data-role="cancel" data-behavior="cancel">Close</a>
                    </p>
                </footer>
            </div>
        </form>
    </div>
    <div class="popover-arrow"></div>
</div>

<div class="popover direction-right-top calendar_editor calendar_display" style="display: none" id="tpl-calendar-popover">
    <div class="popover-content balloon">
        <form >
            <header>
                <fieldset class="calendar_settings">
                    <h3>
                        <textarea name="title" data-behavior="autoresize placeholder submit_on_enter" rows="1" data-type="textarea" 
                            data-placeholder="Name this calendar" class="placeholding" data-autoresize="true" name="title"
                            data-toggle="remote" placeholder="我的日历" style="resize: none; overflow: hidden; min-height: 20px;">
                        </textarea>
                    </h3>
                    <p>选择颜色</p>
                    <div class="swatches" data-toggle="select-radio">
                        <label class="swatch btn" name="color" data-toggle="select" data-content="3185c5" style="background-color: #3185c5"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="000099" style="background-color: #000099"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="3B9E93" style="background-color: #3B9E93"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="009900" style="background-color: #009900"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="aa0000" style="background-color: #aa0000"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="ec61a2" style="background-color: #ec61a2"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="cc6633" style="background-color: #cc6633"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="666666" style="background-color: #666666"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="000000" style="background-color: #000000"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="660099" style="background-color: #660099"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="ff9c00" style="background-color: #ff9c00"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="e207c1" style="background-color: #e207c1"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="a5460d" style="background-color: #a5460d"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="650606" style="background-color: #650606"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="482a15" style="background-color: #482a15"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="2c5322" style="background-color: #2c5322"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="b3a543" style="background-color: #b3a543"></label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="46647c" style="background-color: #46647c"></label>
                    </div>
                </fieldset>
            </header>
            <div data-behavior="calendar_accesses">
                <section>
                    <div class="slider" data-behavior="slider">
                        <ul class="slides" style="width: 200%;">
                            <li class="slide" data-slide-index="1" style="width: 220px;">
                                <div class="subscribable change_accesses">
                                    <div class="invitees">
                                        <h4>用户邀请</h4>
                                        <section class="invite">
                                            {% for member in [member for member in team.members if member.id != currentUser.id ]%}
                                            <article class="person btn"  data-content="{{member.id}}" data-toggle="select" name="member">
                                                <div class="avatar">
                                                    <img class="avatar" height="40" src="/avatar/{{ member.avatar }}" title="" width="140">
                                                </div>
                                                <h3>
                                                    <a href="/member/{{ member.id }}">{{ member.name }}</a>
                                                </h3>
                                            </article>
                                            {% end %}
                                        </section>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <footer>
                <p class="submit">
                    <button data-behavior="confirm" class="action_button">添加</button>
                    or <a href="#" class="cancel" data-behavior="cancel">取消</a>
                </p>
            </footer>
        </form>
    </div>
    <div class="popover-arrow"></div>
</div>
{% end %}

{% block script %}
$(function(){

var $eventElement 

function createEventCallback(flag, that) {
    if(flag == 1) {
        $eventElement.remove()        
        that.destory()
    }
    else {
        var data = $.lily.collectRequestData(that.$content);
    }

}
function calendarCallback(element, that) {
    var $target = that.closest('li') 
    $('span.swatch', $target).css("background-color", '#' + element.color)
    $('.calendar_title', $target).text(element.title)
}
function createCalendarCallback(element, that) {
    var $calendar = $('<li class="calendar" id="calendar_451504" data-bucket-type="calendar" data-bucket-id="451504">'
        + '<span class="swatch" style="background-color: #' + element.color + '">'
        + '<a href="javascript:;" class="active btn" data-toggle="select" data-behavior="toggle_bucket"></a>'
        + '</span>'
        + '<a href="javascript:;" class="calendar_title" title="Only show this calendar">' + element.title 
        + '</a><a href="javascript:;" data-toggle="popover" data-post="' + element.id + '" title="">设置</a>'
        + '</li>')
    $('#calendar_list').append($calendar)
}

function createCalendarcallback(flag, that) {
    if(flag == 1) {
        that.hide()
    }
    else {
        var data = $.lily.collectRequestData(that.$content);
        if(that.$element.attr("data-post"))
            $.extend(data, {id: that.$element.attr("data-post")})
        $.lily.ajax({
            url : '/calendar',
            data : data,
	    	type: 'post',
            processResponse : function(reponseData) {createCalendarCallback(reponseData, that)}
	    });
    }
}

function beforeCreateCalendar($source, $target) {

}

function afterCreateCalendar($source, $target) {
    var id = $source.attr("data-post")
    $("[name=id]", $target).val(id)
}

function afterEditCalendar($source, $target) {
    var id = $source.attr("data-post")
    $("[name=id]", $target).val(id)
}
function projectColorChange(flag, that) {
    if(flag == 1) {
        that.hide()
    }
    else {
        var data = $.lily.collectRequestData(that.$content);
        var url = $('form', that).attr('action')
        if(that.$element.attr("data-post"))
            $.extend(data, {id: that.$element.attr("data-post")})
        $.lily.ajax({
            url : url,
            data : data,
	    	type: 'post',
            processResponse : function(reponseData) {projectColorCallback(reponseData, that)}
	    });
    }

}
function projectColorCallback(responseData, that) {

} 
$('#tpl-event-popover').data("callback", createEventCallback)
$('.calendar_editor').data("callback", createCalendarcallback)
$('#tpl-calendar-popover').data("beforeCall", beforeCreateCalendar)
$('#tpl-calendar-popover').data("afterCall", afterCreateCalendar)

$('.calendar_editor_form').data("doResponse", calendarCallback)
$('.calendar_editor_form').data("afterCall", afterEditCalendar)

$('.project_editor').data("callback", projectColorChange)


function addNewEvent($dayElement, day){
    var $eventContainer = $('.all_day', $dayElement)
    if($eventContainer.length == 0 ) {
        $eventContainer = $('<div class="events all_day"></div>')
        $dayElement.append($eventContainer) 
    }
    $eventElement = $('<div class="event " data-id="5597784" >' 
        + '<span class="event" style="color: #cc6633" title="Calendar: General">'
        + '•&nbsp;<span class="title popover-btn" data-toggle="popover" data-content="#tpl-event-popover">新事件</span></span></div>')
    $eventContainer.append($eventElement)
}
$('#myCalendar').myCalendar({
    title: '#myCalendar_title',
    body: '#calendar_grid_singleton',
    url: '/fetchEvent',
    selector: addNewEvent
})

})
{% end %}
